<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @functionary_type.name %>
</p>

<%= link_to 'Edit', edit_functionary_type_path(@functionary_type) %> |
<%= link_to 'Back', functionary_types_path %>
