<h1>New Appointment Patient</h1>

<%= render 'form', appointment_patient: @appointment_patient %>

<%= link_to 'Back', 
  :controller => 'appointment_patients',
  :action => 'index',
  :id => @id_patient_actual %>