<h1>New Appointment</h1>

<p id="notice"><%= notice %></p>

<form action = "/appointments/create" >
  <br>
  Patient's id:
  <input type="text" name="id_patient">
  <br>
  <br>
  Area:
  <select name="area">
      <option value="Administrativa" selected="selected">Administrativa</option>
      <option value="Emergencias">Emergencias</option>
      <option value="Ginecologia">Ginecologia</option>
      <option value="Oncologia">Oncologia</option>
      <option value="Dermatologia">Dermatologia</option>
      <option value="Ortopedia">Ortopedia</option>
    </select>
  <br>
  <br>
  Date:
  <input type="text" name="date">
  <br>
  <br>
  Date:
  <input type="text" name="date">
  <br>    
  <input type="submit" value=""/>
</form>

<%= link_to 'Back', secretaries_path %>